NODE_TLS_REJECT_UNAUTHORIZED = 0
PGSSLMODE = require
TYPEORM_ENTITIES = ./src/modules/**/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS = ./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/shared/infra/typeorm/migrations
TYPEORM_URL =
